.text {
    color: #fff;
    font-size: 18px;
    padding: 20px 20px 40px;
}
.text p {
    padding: 5px 0;
}

span {
    color: #fff;
}

h3{
    margin-top: 10px;
}
.unnumbered-list-container {
    list-style: square inside none;
}

.numbered-list-container {
    list-style: decimal inside none;
}
//Nawigacja



// section4
.section4-img-container{
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}
// section5
.section5-img-container {
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}

.section5-img{
    width: 100%;
}

// section24
.section24-img-container {
    width: 700px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}

// section30
.section30-img-container {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}

// section34
.section34-img-container {
    width: 400px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}