// section1
.section1-img {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
    transition: width 2s, height 2s, transform 2s;
}

// section3
.section3-img {
    width: 300px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
    transition: width 2s, height 2s, transform 2s;
}

.section3-img-big {
    width: 800px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
    transition: width 2s, height 2s, transform 2s;
}