// section1
.section1-img-container {
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}


//section3
.log-list {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    margin-top: 16px;
}

.log-item {
    flex-basis: calc((100% - 16px) / 2);
    position: relative;
    padding: 4px;
    border: 1px solid #2a2a2a;
    border-radius: 4px;
    font-size: 16px;
    font-family: monospace;
}

.log-item>.chip {
    position: absolute;
    top: -4px;
    right: -4px;
    width: 20px;
    height: 20px;
    background-color: green;
    border-radius: 4px;
    color: #fff;
    font-size: 16px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

button {
    display: inline-flex;
    padding: 8px 12px;
    cursor: pointer;
    font-family: inherit;
    text-transform: uppercase;
}


//section4
.form-s4a1 {
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
    padding: 32px;
}

//section4 article3
.p-s4a3 {
    overflow-wrap: anywhere;
}

.text-input-s4a3 {
    width: 100%;
    max-width: 320px;
    padding: 8px;
    font: inherit;
    letter-spacing: inherit;
}