.text {
    color: #fff;
    font-size: 18px;
    padding: 20px 20px 40px;
}

.text p {
    padding: 5px 0;
}

span {
    color: #fff;
}

.link {
    color: rgb(77, 105, 228);
}

h2,
h3 {
    margin-top: 10px;
}

.unnumbered-list-container {
    list-style: square inside none;
}

.numbered-list-container {
    list-style: decimal inside none;
}

.example {
    color: yellow;
}

.example-theory {
    display: flex;
    gap: 40px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.example-theory-pre {
    display: flex;
    max-width: 600px;
    overflow: auto;
    border: 2px dashed #f0e3e3;
    padding: 5px;
}

.example-practice {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.grow_up-img-s1a8,
.grow_up-img {
    transition: width 2s, height 2s, transform 2s;
}

.grow_up-img:hover {
    width: 50%;
    height: 50%;
}

// // //Nawigacja







// .main-container {
//     background-image: linear-gradient(to bottom, #6d0ee9, #301212);
// }

// section1
.section1-img-container {
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}


// section1 article 1
.table-s1a1 {
    border-collapse: separate;
}

.schedule-borderColapse {
    border-collapse: collapse;
}

.table-s1a1 th,
.table-s1a1 td {
    padding: 8px;
    border: 1px solid #840606;
}

.table-body-s1a1>tr:hover {
    background-color: rgb(94, 19, 6);
    color: white;
    cursor: pointer;
}

// section1 article2
.example-practice-s1a2 {
    border: 2px dashed #f0e3e3;
    padding: 10px;
    overflow: auto;
    width: 300px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

// section1 article3
.example-practice-s1a3 {
    border: 2px dashed #f0e3e3;
    padding: 10px;
    overflow: auto;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-s1a3{
    display: flex;
    flex-flow: column nowrap;
    gap:10px;
}

// section1 article4
.example-practice-s1a4 {
    border: 2px dashed #f0e3e3;
    padding: 10px;
    overflow: auto;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-s1a4 {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}

// section1 article5
.example-practice-s1a5 {
    border: 2px dashed #f0e3e3;
    padding: 10px;
    overflow: auto;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-s1a5 {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}