// section1
.section1-img-container {
    width: 350px;
    margin: 0 auto;
    overflow: hidden;
    border: 2px solid black;
    border-radius: 15px;
}

// section1 article3
.example-practice-s1a3 {
    border: 2px dashed #f0e3e3;
    padding: 10px;
    overflow: auto;
    width: 800px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.form-s1a3 {
    display: flex;
    flex-flow: column nowrap;
    gap: 10px;
}