//Aqua Button
@import url(https://fonts.googleapis.com/css?family=Inter);

.aqua-button{
    -webkit-appearance: none;
    appearance: none;
    vertical-align: middle;
    color: inherit;
    font: inherit;
    background: transparent;
    padding: 0;
    margin: 0;
    border-radius: 0;
    text-align: inherit;
    text-transform: inherit;
    -webkit-tap-highlight-color: transparent;
    margin: 3px;
    cursor: pointer;
    color: #fff;
    text-shadow: 0 1px 1px #115be7;
    background-color: #570909;
    background-image: radial-gradient(75% 50% at 50% 0, #f4feff, #0000), radial-gradient(75% 35% at 50% 80%, #260209, #0000);
    border: 1px solid #150808;
    border-radius: 50px;
    padding: 12px 16px;
    transition-property: border-color, transform, background-color;
    transition-duration: .2s;
    position: relative;
    box-shadow: inset 0 -2px 4px 1px #0009, inset 0 -4px 4px 1px #201112, inset 0 0 2px 1px #fff3, 0 1px 4px 1px #20191933, 0 1px 4px 1px #0000001a;
}

.aqua-button::after {
    content: "";
    position: absolute;
    top: 1px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 50px;
    width: 80%;
    height: 40%;
    background-image: linear-gradient(to bottom, #f4feff, transparent);
    opacity: 0.75;
}

.aqua-button:hover {
    transform: scale(1.04);
}

.aqua-button:active {
    border-color: #4f2525;
    transform: scale(0.96);
    background-color: #4f2525;
}